body, html {
	background-color: #24201F;
	height: 100%;
	margin: 0;
}

a {
	margin-left: 15px;
}

.container-for-a-container {
	overflow: hidden;
}

@keyframes changeColor {
    from, to { background-color: #FF4266; }
    30%      { background-color: #FC9D9A; }
    60%      { background-color: #FACDAC; }
    80%      { background-color: #84B09D; }
}

.title {
	background-color: #FF4266;
	animation: changeColor 4s infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: 'Rampart One', cursive;
	font-size: 50px;
	margin: 0 auto;
	margin-bottom: 5%;
	width: max-content;
}

.description {
	background-image: linear-gradient(to right, #FF4266 0%, #FC9D9A 25%, #FACDAC 50%, #C7C7A9 75%, #84B09D 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	width: max-content;
	margin: 0 auto;
	margin-bottom: 5%;
}

.score {
	font-family: 'Roboto', sans-serif;
	color: #84B09D;
	margin: 0;
}

.flex-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.game-container {
	height: 200px;
	width: 500px;
	border-bottom: 2px solid #FC9D9A;
	margin: 0;
	margin-bottom: 5%;
}

.music-container {
	display: flex;
	align-items: center;
}

.you-lose {
	font-family: 'Rampart One', cursive;
	font-size: 50px;
	color: #FF4266;
	animation: changeColor 4s infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: 25px 0px 10px 0px;
	text-align: center;
}

.restart {
	background-color: #C7C7A9;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	height: 30px;
	width: 100px;
	border: none;
	border-radius: 5px;
	transform: translate(200px, 0px);
}

.player {
	height: 50px;
	width: 20px;
	background-color: #FF4266;
	position:  relative;
	top: 128px;
	left: 50px;
	float: right;
	transform: translate(-480px, 0px);
}

.animate {
	animation: jump 500ms;
}

@keyframes jump {
	0%{top: 125px;}
	40%{top: 50px;}
	40%{top: 50px;}
	100%{top: 125px;}
}

.obstacle {
	height: 20px;
	width: 20px;
	background-color: #FF4266;
	animation: changeColor 4s infinite;
	position: relative;
	top: 108px;
	left: 480px;
	float: left;
	transform: translate(0px, 50px);
}

.start-button {
	background-color: #FC9D9A;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	height: 30px;
	width: 65px;
	border: none;
	border-radius: 5px;
}

.high-score {
	font-family: 'Roboto', sans-serif;
	color: #FC9D9A;
}

.fa-spotify {
	color: #1DB954;
}

audio::-webkit-media-controls-panel {
	background-color: #FF4266;
}

audio::-webkit-media-controls-mute-button {
	background-color: #FC9D9A;
	border-radius: 50%;
}

audio::-webkit-media-controls-play-button {
background-color: #FACDAC;
border-radius: 50%;
}

audio::-webkit-media-controls-play-button:hover {
background-color: #E0B89B;
}




@media only screen 
    and (max-width: 600px)
    and (max-height: 900px)  {
    	.game-container {
    		width: 300px;
    	}
    	.player {
    		left: 250px;
    	}
    	.obstacle, .obstacle-start {
    		left: 280px;
    	}
    	.you-lose {
    		font-size: 25px;
    		 transform: translate(10px, 0px);
    	}
    	.restart {
    		height: 40px;
			width: max-content;
			font-size: 23px;
			text-align: center;
    		margin-top: 5px;
    		transform: translate(100px, 0px);
		}
		.start-button {
			height: 40px;
			width: 100px;
			font-size: 23px;
		}
}