body, html {
	background-image: linear-gradient(to right, #f6d365 0%, #fda085 100%);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

.game-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 200px;
	width: 500px;
	border: 1px solid black;
}